<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
  <strong>Article:</strong>
  <%= @yourview.article_id %>
=======
  <strong>Post:</strong>
  <%= @yourview.post_id %>
>>>>>>> 8d36c7b124e85e35b34a20759d6f392241cfcb51
</p>

<p>
  <strong>Body:</strong>
  <%= @yourview.body %>
</p>

<%= link_to 'Edit', edit_yourview_path(@yourview) %> |
<%= link_to 'Back', yourviews_path %>
